
@{
    ViewBag.Title = "Education";
}

<h2>Education</h2>
<div class="alert-info">
    <ol class="active">
        <li>SSC
            <ul>
                <li>Institute: Narayanganj Ideal School</li>
                <li>Board: Dhaka</li>
                <li>Result: A</li>
            </ul>
        </li>
        <li>
            HSC
            <ul>
                <li>Institute: Govt. Tolaram College</li>
                <li>Board: Dhaka</li>
                <li>Result: A</li>
            </ul>
        </li>
        <li>
            BSc. CSE
            <ul>
                <li>Institute: American International University-Bangladesh</li>
                <li>CGPA: 3.86</li>
            </ul>
        </li>
    </ol> 
</div>

