
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>

<div class="alert-info">
    <ul class="active">
        <li>
            OOP1
            <ul>
                <li>Bank Management Console App</li>
                <li>Trainning Center Management App</li>
                <li>Service Center Management App</li>
            </ul>
        </li>
        <li>
            OOP2
            <ul>
                <li>Bank Management Console App</li>
                <li>Digital Photo Diary App</li>
                <li>Heltcare Management App</li>
            </ul>
        </li>
    </ul>
</div>

