
@{
    ViewBag.Title = "Reference";
}

<h2>Reference</h2>

<div class="alert-info">
    <ol class="active">
        <li>
            Dr. Dip Nandi
            <ul>
                <li>Institute: American International University-Bangladesh</li>
                <li>Designation: Proffesor</li>
                <li>Contact: dip.nandi@aiub.edu</li>
            </ul>
        </li>
        <li>
            Dr. Debjotey Karmakar
            <ul>
                <li>Institute: American International University-Bangladesh</li>
                <li>Designation: Assistant Proffesor</li>
                <li>Contact: deb@aiub.edu</li>
            </ul>
        </li>
    </ol>
</div>